<div class="container-fluid">
    {% for key, value in obj.items() if key not in ["background", "label", "style", "kind"] %}
    <div class="row my-0">
        <div class="col-12 col-sm-4">
            {% if value.heading is not none %}
            <h5 class="mb-0 text-center m-0 p-0">{{value.heading}}</h5>
            {% endif %}
            {% if value.heading_details is not none %}
            <p class="text-center mb-0 fw-light">{{value.heading_details}}</p>
            {% endif %}
            {% if value.heading_tag is not none %}
            <p class="text-muted text-center small">{{value.heading_tag}}</p>
            {% endif %}
        </div>
        {% if value.content %}
        <div class="col-12 col-sm-8">{{markdown(value.content)}}</div>
        {% endif %}
    </div>
    {% if not loop.last %}
    <hr class="row mb-3 mt-1 mx-4 p-0 py-0 px-0">
    {% endif %}
    {% endfor %}

</div>